* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100svh;
  overflow-x: hidden;
  background-color: whitesmoke;
}

header {
    width: 100vw;
    height: 60px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(117, 182, 159);

    h1{
      color: white;

    }
}

main{
  height: 90%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  h4{
    color: white;
    font-size: 26px;
  }

}

